/* Header Area css
============================================================================================ */

.header_top .header_top_inner .pull-left a {
  font-size: 12px;
}

.header_top .header_top_inner .pull-left a i {
  font-size: 18px;
}

.header_top .header_top_inner .pull-left a {
  font-weight: bold;
  margin-right: 5px;
}

.header_top .header_top_inner .pull-left a i:last-child {
  padding-left: 10px;
}

.header_top .header_top_inner .pull-left a:last-child {
  color: #ffb606;
}

.header_social li a, .header_social li i {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.header_social li i {
    font-size: 16px;
}

.header_social li {
  margin: 0px;
}

.header_social li a {
  padding-left: 5px;
  padding-right: 15px;
}

/* .header_social li:last-child a {
  border-left: 2px solid #fff;
} */


/* Main Slider Area css
============================================================================================ */

/* Alterar parâmetros no HTML */

div#slide-1587-layer-2 {
  font-weight: bold !important;
  font-size: 20px !important;
}


/* Service Area css
============================================================================================ */

.our_service_area {
  background-image: none;
}

.our_service_area h4 {
  font-weight: bold;
}

.our_service_item {
  margin-bottom: 45px;
}

.our_service_item_img {
  height: 130px;
}


/* Fun Fact Area css
============================================================================================ */

.fun_fact_area .fun_fact_box {
  margin-top: -70px;
}

.fun_fact_area {
  background: #ffb606;
}

.media {
  display: flex;
}

.counter-wrapper {
  display: inline-flex !important;
}


.fun_fact_area .fun_fact_box .media .media-body {
  margin: auto;
}

/* Our Resort Gallery Area
============================================================================================ */

.resort_gallery_inner {
  margin-bottom: 150px;
}

.resort_gallery_inner {
  padding: 0px 90px;
}


/* Footer Area
============================================================================================ */

.footer-title {
  color: #ffb606;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-text {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 2.0rem;
}

.footer-icon {
    position: absolute;
    left: -30px;
    font-size: 22px;
}

.footer-separator {
    width: 15%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffb606;
    margin: 1em 0;
    padding: 0;
}

.footer-list {
    margin-top: 15px !important;
}

.footer-list a {
    line-height: 24px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #898989;
}

.footer-list li::before {
    content: "- ";
}

/* .about_widget {
    position: absolute;
    bottom: 0px;
} */



.t_inverse {
    color: #fff;
    font-size: 18px !important;
}

.first_child {
  padding-top: 128px;
}

.media-body img {
  margin-bottom: 35px;
}

.link_widget {
  padding: 0px;
}


/* TEMP */
.media-body h4 {
  font-size: 14px !important;
}

.t-upper {
    text-transform: uppercase;
    font-size: 15px;
}


.blog_item .blog_text p {
  border: none !important;
}

.room_price_box {
  background-color: #fff !important;
}





body, html {
    height: 100%;
}



.footer_area [class*='col-'] {
    height: 100%;
}

.h-100 {
    height: 100%;
}

.atribuition-text {
    text-align: center;
}

.atribuition-text:last-child {
    margin-top: 1rem;
}

.media-body p {
    margin-bottom: 1rem;
}

.media-body i {
    margin-right: .75rem;
}

@media only screen and (max-width: 425px) {
    .footer-icon {
        display: none;
    }
}
